
body.post {

  .post .wrapper {
    margin: 0 auto;
    max-width: $post-width;
    min-height: 500px;
    margin-bottom: 3em;
  }
  
  h1 {
    padding: 0.5em 0 0.75em;
    font-size: 3em;
  }
  
  h2, h3, h4 {
    padding-top: 0.75em;
  }
  
  .meta {
    font-size: small;
    
    .date {
      float: right;
    }
  }
    
  .content {
    clear: both;
    font-family: $post-font-family;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.58;
    letter-spacing: -.003em;
    margin-bottom: 3em;
    
    img {
      max-width: 100%;
    }
    
    a img {
      display: inline;
    }    
  }
  
  twitterwidget {
    margin: 2em auto !important;
  }

}
