---
layout: en/default
class: team
permalink: /team
redirect_from:
  - /team/
  - /rocket-team
  - /rocket-team/
---

<section class="hero">
  <div class="wrapper">
    <h1>Team Rocket.Chat</h1>
    <em>The core team keeping the rockets firing</em>
  </div>
</section>

<section class="message">
  <div class="wrapper">
    <div class="left">
      <p>
        What started simply as a proof of concept code published to GitHub almost
        two years ago has exploded into the ever-evolving open source platform
        Rocket.Chat is today.
      </p>
      <p>
        While we have the developer community as a whole to
        thank for that, our core team members have worked zealously to spur on growth
        and keep Rocket.Chat always aimed towards the next level. Get to know each of
        them below.
      </p>
      <p>
        <a href="http://localhost:4000/handbook/">Team Handbook</a>  (WIP).
      </p>
    </div>
    <div class="right">
      <img src="/images/index/community.svg" alt="">
    </div>
    <div class="clear"></div>  </div>
</section>

<section>
  <div class="wrapper">
    <ul class="team">
      {% for member in site.data.team %}
      <li>
        {% if member.github_username %}
          <a href="https://github.com/{{ member.github_username }}">
            {% if member.photo %}
              <img src="/images/team/member/{{ member.username | replace: '.', '-' }}-01.jpg" alt="">
            {% else %}
              <img src="https://avatars0.githubusercontent.com/u/{{ member.github_uid }}?v=4&s=140" alt="">
            {% endif %}
          </a>
        {% else %}
          {% if member.photo %}
            <img src="/images/team/member/{{ member.username | replace: '.', '-' }}-01.jpg" alt="">
          {% else %}
            <img src="https://github.com/identicons/RocketChat.png" alt="">
          {% endif %}
        {% endif %}
        <h3>{{ member.name }}</h3>
        <div class="title">{{ member.title }}</div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
