@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}

.input {
  font-weight: 500;
  font-size: 0.8em;
  line-height: 1.4;
  color: $space;

  display: inline-block;
  padding: 0.9em 1.14em 1em;
  width: 100%;
  margin-bottom: 1em;

  border-radius: 2px;
  border: 1.5px solid $grey-smoke;

  transition: border $tranitions;

  &[disabled],
  &.disabled {
    background: $grey-bg;
    color: $grey-smoke-dark;
    @include placeholder($grey-smoke-dark);
  }

  &:focus {
    border-color: $grey-light;
  }

  @include placeholder($grey);
}

.select {
  font-size: 1em;
  border-radius: 2px;
  position: relative;

  &:after {
    content: "";
    width: 0.4em;
    height: 0.4em;
    display: block;
    transform: rotate(135deg);
    position: absolute;
    top: 0.8em;
    right: 0.8em;
  }

  select {
    width: calc(100% - 0.7em);
    padding: 0.4em 1em;
  }

  @media (min-width: $tablet) {
    font-size: 0.8em;

    select {
      padding: 0.72em 1em;
    }

    &:after {
      width: 0.5em;
      height: 0.5em;
      top: 1em;
      right: 1em;
    }
  }
}
