.container {
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;

  @media screen and (min-width: $tablet) {
    padding-left: $gutter-larger;
    padding-right: $gutter-larger;
  }
}

.flex-grid {
  display: block;
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;

  @media (min-width: $tablet) {
    display: flex;
    margin-left: -$gutter-larger / 2;
    margin-right: -$gutter-larger / 2;
  }

  &.grid--center {
    align-items: center;
  }

  &.grid--justify-around {
    justify-content: space-around;
  }

  &.grid--reverse {
    @media screen and (min-width: $tablet) {
      flex-direction: row-reverse;
    }
  }

  @mixin column {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    margin-bottom: $gutter;

    @media (min-width: $tablet) {
      flex: 1;
      margin-bottom: $gutter-larger;
      padding-left: $gutter-larger / 2;
      padding-right: $gutter-larger / 2;
    }

    &.no-gutter {
      margin-bottom: 0;
    }
  }

  > .col--free {
    @include column;

    @media (min-width: $tablet) {
      flex: 0;
    }
  }

  > .col {
    @include column;
  }

  > .col--haft {
    @include column;

    @media (min-width: $tablet) {
      max-width: 50%;
    }
  }

  > .col--third {
    @include column;

    @media (min-width: $tablet) {
      max-width: 33%;
    }
  }

  > .col--fourth {
    @include column;

    @media (min-width: $tablet) {
      max-width: 25%;
    }
  }

  > .col--fifth {
    @include column;

    @media (min-width: $tablet) {
      max-width: 20%;
    }
  }

  > .col--three-quarter {
    @include column;

    @media (min-width: $tablet) {
      max-width: 75%;
    }
  }
}

.flex-grid--nobreak {
  display: flex;
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;

  @media (min-width: $tablet) {
    margin-left: -$gutter-larger / 2;
    margin-right: -$gutter-larger / 2;
  }

  @mixin column {
    flex: 1;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    margin-bottom: $gutter;

    @media (min-width: $tablet) {
      margin-bottom: $gutter-larger;
      padding-left: $gutter-larger / 2;
      padding-right: $gutter-larger / 2;
    }

    &.no-gutter {
      margin-bottom: 0;
    }
  }

  > .col--free {
    @include column;

    flex: 0;
  }

  > .col {
    @include column;
  }

  > .col--haft {
    @include column;
    max-width: 50%;
  }

  > .col--third {
    @include column;
    max-width: 33%;
  }

  > .col--fourth {
    @include column;
    max-width: 25%;
  }

  > .col--fifth {
    @include column;

    max-width: 20%;
  }
}
