// Body
body.dark {
  background: $space;
}

body.light {
  background: #fff;
}

// Type
.theme_type--brand {
  color: $brand;
}

.theme_type--dark {
  color: #fff;
}

.theme_type--grey {
  color: $grey-light;
}

// Box
.theme_box--space {
  background-color: $space;
}

.theme_box--dark-strong {
  background-color: $space-b;
}

.theme_box--dark {
  background-color: $space-grey;
}

.theme_box--dark-medium {
  background-color: $grey-dark;
}

.theme_box--light {
  background-color: $grey-bg;
}

.code--light {
  border: 1px solid $grey-smoke;
}

.code--dark {
  border: 1px solid $grey-dark;
  color: #fff;
  background: $space-b;
}

// Forms
.select--theme-light {
  border: 1px solid $grey-smoke;

  &:after {
    border-top: 1.5px solid $space;
    border-right: 1.5px solid $space;
  }
}

.select--theme-dark {
  border: 1px solid $grey-dark;
  background: $space-b;

  @media (min-width: $tablet) {
    font-size: 0.8em;
  }

  &:after {
    border-top: 1.5px solid #fff;
    border-right: 1.5px solid #fff;
  }

  select {
    color: #fff;
  }
}

// Table
.table--dark {
  td {
    border: 1px solid $space-grey;
  }

  table {
    color: $grey-light;
  }

  th {
    background: $space-grey;
    color: $grey-light;
  }

  strong {
    color: #fff;
  }
}

.table--light {
  color: $grey;

  td {
    border: 1px solid $grey-smoke;
  }

  table {
    color: $grey-light;
  }

  th {
    background: $grey-smoke;
    color: $grey-dark;
  }

  strong {
    color: $space;
  }
}
