<h1 class="display">Hero component</h1>

<section class="container hero">
  <h1 class="display--big theme_type--brand">Download Rocket.Chat</h1>
  <p class="display--small theme_type--brand">For your desktop, mobile or server</p>
</section>

<h1 class="display">Card with grid component</h1>

<section class="container" style="padding: 2em; background: #030c1a; margin-bottom: 2em;">
  <p class="theme_type--dark">.flex-grid {}</p>
  <div class="flex-grid">
    <div class="col">
      <div class="card theme_box--dark">
        .col.card.theme_box--dark {}
      </div>
    </div>

    <div class="col">
      <div class="card theme_box--dark">
        .col.card.theme_box--dark {}
      </div>
    </div>

    <div class="col">
      <div class="card theme_box--dark">
        .col.card.theme_box--dark {}
      </div>
    </div>
  </div>

  <p class="theme_type--dark">.flex-grid.grid--justify-around {}</p>
  <div class="flex-grid grid--justify-around">
    <div class="col--third">
      <div class="card theme_box--dark">
        .col--third {}
      </div>
    </div>

    <div class="col--third">
      <div class="card theme_box--dark">
        .col--third {}
      </div>
    </div>
  </div>
</section>

<section class="container" style="padding: 2em;">
  <div class="flex-grid">
    <div class="col">
      <div class="card theme_box--light">
        .col.card.theme_box--light {}
      </div>
    </div>

    <div class="col">
      <div class="card theme_box--light">
        .col.card.theme_box--light {}
      </div>
    </div>

    <div class="col">
      <div class="card theme_box--light">
        .col.card.theme_box--light {}
      </div>
    </div>
  </div>
</section>