<h1 class="display">Typography</h1>
<h2 class="display--small">Font Family</h2>
<p>Rocket.Chat’s website should always use the system’s native font. The following styleguide will be created using Mac’s system
  font:
  <strong>San Francisco UI Text & Display.</strong>
</p>

<h2 class="display--small">Font size & Weight</h2>
<p>The font scale consists of 7 different sizes & 4 weights: Regular, Medium, Semibold & Bold.</p>

<div class="flex-grid">
  <div class="col">
    <h2 class="display--big theme_type--brand">Rocket.Chat</h2>
    <p>.display--big {}</p>

    <h2 class="display theme_type--brand">Rocket.Chat</h2>
    <p>.display {}</p>

    <h2 class="display--small theme_type--brand">Rocket.Chat</h2>
    <p>.display--small {}</p>

    <pre class="code--light">Code format</pre>
    <p>.code--light {}</p>
  </div>

  <div class="col">
    <h2 class="text theme_type--brand">Rocket.Chat</h2>
    <p>.text {}</p>

    <h2 class="text--small theme_type--brand">Rocket.Chat</h2>
    <p>.text--small {}</p>

    <h2 class="label theme_type--brand">Rocket.Chat</h2>
    <p>.label {}</p>

    <h2 class="label--small theme_type--brand">Rocket.Chat</h2>
    <p>.label--small {}</p>

    <h2 class="tag theme_type--brand theme_box--light">Rocket.Chat</h2>
    <p>.tag {}</p>
  </div>
</div>

<div class="flex-grid theme_box--space" style="padding: 2em;; margin-bottom: 2em;">
  <div class="col">
    <h2 class="display--big theme_type--dark">Rocket.Chat</h2>
    <p>.display--big {}</p>

    <h2 class="display theme_type--dark">Rocket.Chat</h2>
    <p>.display {}</p>

    <h2 class="display--small theme_type--dark">Rocket.Chat</h2>
    <p>.display--small {}</p>

    <pre class="code--dark">Code format</pre>
    <p>.code--dark {}</p>
  </div>

  <div class="col">
    <h2 class="text theme_type--dark">Rocket.Chat</h2>
    <p>.text {}</p>

    <h2 class="text--small theme_type--dark">Rocket.Chat</h2>
    <p>.text--small {}</p>

    <h2 class="label theme_type--dark">Rocket.Chat</h2>
    <p>.label {}</p>

    <h2 class="label--small theme_type--dark">Rocket.Chat</h2>
    <p>.label--small {}</p>

    <h2 class="tag theme_type--dark theme_box--space">Rocket.Chat</h2>
    <p>.tag {}</p>
  </div>
</div>

<div class="flex-grid theme_box--space" style="padding: 2em;">
  <div class="col">
    <h2 class="display--big theme_type--grey">Rocket.Chat</h2>
    <p>.display--big {}</p>

    <h2 class="display theme_type--grey">Rocket.Chat</h2>
    <p>.display {}</p>

    <h2 class="display--small theme_type--grey">Rocket.Chat</h2>
    <p>.display--small {}</p>

    <pre class="code--dark">Code format</pre>
    <p>.code--dark {}</p>
  </div>

  <div class="col">
    <h2 class="text theme_type--grey">Rocket.Chat</h2>
    <p>.text {}</p>

    <h2 class="text--small theme_type--grey">Rocket.Chat</h2>
    <p>.text--small {}</p>

    <h2 class="label theme_type--grey">Rocket.Chat</h2>
    <p>.label {}</p>

    <h2 class="label--small theme_type--grey">Rocket.Chat</h2>
    <p>.label--small {}</p>

    <h2 class="tag theme_type--grey theme_box--space">Rocket.Chat</h2>
    <p>.tag {}</p>
  </div>
</div>

<h2 class="display--small">Helpers</h2>
<h3 class="display">.align--center {}</h3>
<p class="align--center">Occaecat nulla adipisicing pariatur cupidatat quis aliqua ad deserunt. Amet consectetur dolore aute exercitation proident eu aliqua qui nostrud. Aliquip elit aute id consectetur sint ullamco officia dolor exercitation mollit nisi tempor. Aliqua est non ex enim nulla velit duis est incididunt. Ea reprehenderit qui dolor consectetur aute aliqua incididunt nostrud cupidatat incididunt sint elit eiusmod. Do tempor ex aliqua cupidatat.</p>