<h1 class="display">Typography</h1>
<h2 class="display--small">Font Family</h2>
<p>Rocket.Chat’s website should always use the system’s native font. The following styleguide will be created using Mac’s system
  font:
  <strong>San Francisco UI Text & Display.</strong>
</p>

<h2 class="display--small">Font size & Weight</h2>
<p>The font scale consists of 7 different sizes & 4 weights: Regular, Medium, Semibold & Bold.</p>

<div class="flex-grid">
  <div class="col">
    <h2 class="display--big type--brand">Rocket.Chat</h2>
    <p>.display--big {}</p>

    <h2 class="display type--brand">Rocket.Chat</h2>
    <p>.display {}</p>

    <h2 class="display--small type--brand">Rocket.Chat</h2>
    <p>.display--small {}</p>
  </div>

  <div class="col">
    <h2 class="text type--brand">Rocket.Chat</h2>
    <p>.text {}</p>

    <h2 class="text--small type--brand">Rocket.Chat</h2>
    <p>.text--small {}</p>

    <h2 class="label type--brand">Rocket.Chat</h2>
    <p>.label {}</p>

    <h2 class="label--small type--brand">Rocket.Chat</h2>
    <p>.label--small {}</p>
  </div>
</div>