<div class="social">
  <a target="_blank" href="https://github.com/RocketChat"><img src="/images/social/github.svg" alt="GitHub"></a>
  <a target="_blank" href="https://forums.rocket.chat"><img src="/images/social/discourse.svg" alt="Discourse"></a>
  <a target="_blank" href="https://www.facebook.com/RocketChat"><img src="/images/social/facebook.svg" alt="Facebook"></a>
  <a target="_blank" href="https://twitter.com/RocketChat"><img src="/images/social/twitter.svg" alt="Twitter"></a>
  <a target="_blank" href="/feed.xml"><img src="/images/social/rss.svg" alt="Blog Posts RSS"></a>
</div>
