
body.cloud {
  min-width: 1000px;

  .testimonials {
    margin-top: 6em;
  
    img {
      max-width: 150px;
    }
  }
  
  .message {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    
    p {
      color: #929db3;
    }
  }
}
