
body.community {

  .connect {
    ul {
      list-style: none;
      padding: 0;
    }
    
    li {
      float: left;
      margin-right: 10px;
    }
    
    .left {
      img {
        max-width: 35px;
        display: inline-block;
        margin-right: 8px;
      }
    }
  }
  
  .right img {
    margin-top: -60px;
  }

  .involved {
    ul {
      list-style: none;
      padding: 0;
    }
    
    li {
      width: 28%;
      float: left;
      margin-right: 7%;
      margin-bottom: 2em;
    }
    
    li:nth-child(3), li:nth-child(6) {
      margin-right: 0;
    }
        
    img {
      max-width: 38px;
      float: left;
      margin-right: 10px;
      filter: opacity(.65);
    }
    
    h3 {
      float: left;
      line-height: 38px;
    }
    
    p {
      clear: both;
    }
  }
    
}
