
body.community {
  
  .header {
    margin-bottom: 4em;
  }

  .connect {
    ul {
      list-style: none;
      padding: 0;
    }
    
    li {
      float: left;
      margin-right: 10px;
    }
    
    .left {
      padding-right: 50px;
      
      img {
        max-width: 35px;
        display: inline-block;
        margin-right: 8px;
      }
    }
  }
  
  .left {
    margin-top: 4em;
  }

  .involved {
    margin-bottom: 0;
    
    ul {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(3, 0.33fr);
      grid-gap: 40px;
    }
            
    img {
      max-width: 38px;
      float: left;
      margin-right: 10px;
      filter: opacity(.65);
    }
    
    h3 {
      float: left;
      line-height: 38px;
    }
    
    p {
      clear: both;
    }
  }
  
  @media all and (max-width: 900px) {
    
    .header {
      margin-bottom: 0;
    }
    
    .right img {
      display: none;
    }
    
    .connect {
      margin: 0;
    }
    
    .involved ul {
      display: block;
    }
    
  }
    
}
