
body.download {
    
  .hero {
    background-color: #1e232a;
    text-align: center;
    color: #fff;
    margin-bottom: 8em;
    
    h1 {
      margin-top: 2em;
      color: #fff;
    }
    
    em {
      margin-bottom: 1em;
    }
    
    a.button {
      margin-bottom: 18em;
    }
  }
  
  .desktop {
    width: 55%;
    float: left;
    
    li {
      width: 33.3%;
    }
  }
  
  .mobile {
    width: 40%;
    float: right;
    
    li {
      width: 50%;
    }
  }
  
  .desktop, .mobile {
    display: block;
    margin-bottom: 8em;
    
    h2 {
      margin-bottom: 40px;
      text-align: center;
    }
    
    img {
      width: 48px;
    }
    
    a {
      display: block;
    
      img {
        width: 160px;
        height: 40px;
      
        &.itunes {
          height: 42px;
          margin-top: -1px;
        }
      }
    }
    
    ul {
      list-style: none;
      padding: 0;
    }
    
    li {
      float: left;
      text-align: center;
      
      div {
        height: 60px;
      }
    }
  }
  
  .server {
    background-color: $cta-background;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #929db3;
    
    .main {
      padding: 6em 2em;
    }
    
    h2, h3 {
      font-size: 2em;
      color: #fff;
    }
    
    h3 {
      text-align: center;
      color: #fff;
    }
        
    .left {
      float: left;
      width: 500px;
      padding: 0 40px;
              
      code {
        background-color: #272b33;
        color: #fff;
        display: block;
        padding: 10px 15px;
        font-size: 16px;
        margin-top: 25px;
        border: 1px solid #2f343d;
        border-radius: 5px;
        width: 370px;
      }
    }
    
    .right {
      float: right;
      width: 40%;
      
      a, a:visited {
        display: block;
        color: #fff;
      }

      img {
        width: 60px;
        margin-bottom: 15px;
      }

      ul {
        margin-top: 2em;
        list-style: none;
        padding: 0;
      }
      
      li {
        text-align: center;
        float: left;
        width: 33.3%;
        padding-top: 15px;
      }
    }
  }
  
  #support {
    margin-top: 6em;
     
    h2 {
      font-size: 2.2em;
      margin-bottom: 10px;
      color: #000;
    }
    
    em {
      
    }
  }

}
