
$focus-padding: 12em;

body.index {
  
  .hero {
    margin-bottom: $focus-padding;
    background-color: #2f343e;
    padding: 6em 0;
    color: #fff;
    
    .main {
      max-width: $wrapper-width;
      margin-bottom: 0;
    }
    
    h1, h2 {
      letter-spacing: .01rem;
      font-weight: 400;
      font-style: normal;
    }
    
    h1 {
      font-family: $ui-font-family;
      font-size: 44px;
      font-weight: 600;
      line-height: 1.2em;
      margin-bottom: 40px;
      color: #fff;
    }
    
    h2 {
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      margin: 40px 0 10px 0;
    }
    
    p {
      margin-top: 0;
      padding-right: 15px;
      color: #ccc;
    }

    .button {
      margin-top: 12px;
      margin-right: 5px;
    }
   
    .left {
      width: 38%;
      padding: 0
    }

    .right {
      width: 62%;
      padding: 0;
    }
        
    .solution {
      margin: 20px 0 32px;
    }
  }
  
  .clouds {
    // background-repeat: repeat-x;
    // background-size: 120% 20%;
    height: 100%;
    display: block;
    background-repeat: repeat-x;
  }
  
  .clouds.back {
    // background-image: url('images/index/clouds-back.svg');
    // background-position-y: bottom;
  }
  
  .clouds.rocket {
    // background-image: url('images/index/rocket.svg');
  }

  .clouds.front {
    // background-image: url('images/index/clouds-front.svg');
    // background-position-y: bottom;
  }
  
  .focus {
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 0 $focus-padding;
    
    h2 {
      font-size: 32px;
    }
    
    p.highlight {
      color: $highlight-color;
      font-weight: 600;
    }
    img {
      max-height: 400px;
    }
    
    .left, .right {
      padding: 0 25px;
    }
  }
  
  .community {
    
    .left {
      margin-top: 5em;
    }
    
    .right {
      img {
        margin-top: 2em;
        height: inherit;
      }
    }
    
    .github {
      margin-top: 2em;
      
      .name, .stars, .forks {
        float: left;
      }
      
      a, a:visited {
        color: #000;
      }
      
      a:hover {
        color: $link-color;
      }
      
      svg {
        fill: #222;
        margin-bottom: -8px;
        margin-right: 10px;
      }
      
      .name {
        display: inline-block;
        margin: 4px 50px 0 0;
        height: 32px;
        line-height: 32px;
        font-size: 20px;
        font-weight: 600;
      }
      
      .stars, .forks {
        padding: 0 1.2em;
        border-left: 1px solid #fff;
        text-transform: uppercase;
        font-weight: 800;
        text-align: center;
        font-size: 12px;
        
        .top {
          padding-bottom: 0.75em;
          margin-bottom: 0.75em;
          border-bottom: 1px solid #fff;
        }

        span {
          display: block;
          font-size: 20px;
          line-height: 22px;
          font-weight: 600;
        }
      }
    }
  }
  
  .features-wrapper {
    background-color: #f7f8fa;
  }
  
  .features {
    ul {
      list-style: none;
      padding: 0;
      color: #000;
    }
    
    li {
      width: 50%;
      float: left;
      margin-bottom: 5px;
    }
    
    li:nth-child(4) {
      float: right;
    }
    
    .right {
      margin-top: 2em;
      
      img {
        text-align: left;
        display: inline;
        margin-bottom: -12px;
      }
    }
  }

  .livechat {
    padding-top: $focus-padding;
    padding-bottom: 6em;

    .left {
      margin-top: 6em;
    }
    
    img {
      max-height: none;
    }
  }
  
  .translation {
    .right {
      margin-top: 6em;
    }
  }

  .apps-wrapper {
    background-image: url("images/index/clients.png");
    background-position: right;
    background-repeat: no-repeat;
  }
  
  .apps {
    padding-top: $focus-padding;

    .left {
      margin-top: 5em;
    }
  }
  
  .own {

    .right {
      margin-top: 7em;
    }
  }
  
  .clients {
    text-align: center;
    padding: 50px 0;
    
    .main {
      max-width: $content-width;
    }
    
    img {
      margin-top: -20px;
      display: inline-block;
      max-width: 140px;
      margin-right: 35px;
      // filter: grayscale(100%);
    }
    
    .steadymd {
      margin-bottom: -7px;
    }
    
    .classuite {
      margin-bottom: -10px;
    }
    
    .lisk {
      margin-bottom: -19px;
    }
    
    .selu {
      margin-bottom: -7px;
    }
    
    .infoshift {
      margin-bottom: -10px;
    }
  }

  .cta {
    background-color: #1d74f5;
    width: $content-width;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-bottom: 8em;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0;
    
    .grey {
      margin-left: 20px;
      background-color: #272b33;
      padding: 3em 2em 3.5em;
    }
    
    h2 {
      font-size: 42px;
      font-weight: 400;
      margin: 0;
      color: #fff;
    }
    
    .button {
      margin-top: 26px;
      font-size: 20px;
    }
  }
  
  
      
  @media all and (max-width: 900px) {
    
    .focus {
      margin: 0;
    }
    
    .hero {
      br {
        content: " ";
        display: none;
      }
      
      .left {
        float: none;
        width: 100%;
        padding: 0;
      }
      
      .right {
        float: none;
        width: 100%;
        padding: 0;
      }
    }
    
    .clients {
      margin: 0;
    }
    
    .community, .features, .livechat, .translation, .apps, .own {
      img {
        margin: 0;
        display: none;
      }
    }
  }

}
