
body.index {
  
  section {
    margin-top: 50px;
    
    .left, .right {
      width: 46%;
    }
    
    .left {
      float: left;
    }
    
    .right {
      float: right;
    }
    
    img {
      max-width: 300px;
    }
  }
  
  .hero {
    margin-bottom: 100px;
    
    .prepare {
      font-size: 32px;
    }
    
    h1 {
      margin-bottom: 8px;
      font-size: 42px;
    }
    
    .experience {
      font-size: 22px;
    }
    
  }
  
  .preview {
    margin-bottom: 100px;
    
    img {
      max-width: 90%;
    }
  }

  .community img {
    margin-top: -25px;
  }

  .features img {
    max-width: 340px;
    margin-top: 20px;
  }
  
  .translation img {
    margin-top: -25px;
  }
  
  .clients img {
    max-width: 320px;
  }
  
  .run img {
    max-width: 340px;
    margin-top: 20px;
  }
  
  .own img {
    max-width: 350px;
    margin-top: 25px;
  }

}
