
body.index {
  
  .wrapper > .main {
    padding: 0;
  }

  .hero {
    background-color: #2c3d57;
    padding: 0;
    margin-bottom: 75px;
    color: #fff;
    
    .main {
      max-width: 1200px;
      margin-bottom: 0;
    }
    
    h1 {
      font-weight: bold;
      font-size: 42px;
      line-height: 50px;
      margin: 35px 0;
      color: #fff;
      
      span {
        font-weight: 200;
        color: #ccc;
      }
    }
    
    h2 {
      font-size: 30px;
      color: #fff;
    }
    
    p {
      color: #ccc;
    }

    .button {
      margin-right: 5px;
    }
   
    .left {
      width: 35%;
    }

    .right {
      width: 65%;
      padding-right: 5%;
      
      img {
        width: 110%;
        max-width: 110%;
        margin-bottom: -20px;
      }
    }
        
    .solution {
      margin: 20px 0 40px;
    }
  }
  
  .solutions {
    width: 875px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    
    .button {
      text-align: center;
      font-size: 18px;
      padding: 13px 20px;
      margin-top: 10px;
    }
    
    .left {
      .button {
        width: 150px;
        margin-right: 4px;
      }
    }
            
    .right .right {
      .button {
        width: 230px;
      }
    }
  }
  
  .clouds {
    // background-repeat: repeat-x;
    // background-size: 120% 20%;
    height: 100%;
    display: block;
    background-repeat: repeat-x;
  }
  
  .clouds.back {
    // background-image: url('images/index/clouds-back.svg');
    // background-position-y: bottom;
  }
  
  .clouds.rocket {
    // background-image: url('images/index/rocket.svg');
  }

  .clouds.front {
    // background-image: url('images/index/clouds-front.svg');
    // background-position-y: bottom;
  }
  
  .clients {
    background-color: #2c3d57;
    text-align: center;
    padding: 50px 0;
    
    .main {
      max-width: 1200px;
    }
    
    img {
      margin-top: -20px;
      display: inline-block;
      max-width: 150px;
      margin-right: 35px;
    }
    
    .steadymd {
      margin-bottom: -7px;
    }
    
    .classuite {
      margin-bottom: -10px;
    }
    
    .lisk {
      margin-bottom: -19px;
    }
    
    .selu {
      margin-bottom: -7px;
    }
    
    .infoshift {
      margin-bottom: -30px;
    }
  }
  
  .cta {
    text-align: center;
    font-size: 18px;
    background-color: $cta-background;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 35px 0 45px;
    
    h2 {
      font-size: 42px;
      font-weight: 400;
      margin: 0;
    }
    
    .button {
      margin-top: 12px;
      font-size: 20px;
    }
  }
  
  .preview {
    margin-bottom: 100px;
    
    img {
      max-width: 90%;
    }
  }
  
  .focus {
    width: 875px;
    margin: 0 auto;
    margin-bottom: 50px;
    
    img {
      height: 300px;
    }
    
    h2, p {
      padding: 0 25px;
    }
  }

  .community {
    
    img {
      margin-top: -40px;
    }
  }

  .features img {
    margin-top: -30px;
  }
  
  .livechat img {
    height: 310px;
    margin-top: -40px;
  }
  
  .translation img {
    margin-top: -45px;
  }
  
  .app {
    margin-bottom: 85px;
    
    img {
      margin-top: -45px;
    }
  }
  
  .own img {
    margin-top: -65px;
  }

}
