
body.press {

  section {
    padding-bottom: 3em;
  }
  
  .company {
    img {
      margin: 40px auto 0;
      max-width: 260px;
    }
  }
  
  .gabriel {
    img {
      max-width: 300px;
    }
  }
  
  .logos {
    text-align: center;

    ul {
      list-style: none;
      padding: 0;
    }
    
    li {
      float: left;
      padding: 0 1em;
      width: 25%;
    }
    
    .img-wrapper {
      height: 80px;
      line-height: 80px;
      margin: 20px 5px;
    }
    
    li:nth-child(2) .img-wrapper {
      background-color: #0f354c;
    }
    
    img {
      display: inline-block;
      max-height: 60px;
      max-width: 200px;
      vertical-align: middle;
    }
    
    .more {
      margin-top: 2em;
    }
  }
    
  .contact {
    padding-bottom: 6em;
    
    img {
      max-width: 150px;
    }
  }
  
  @media all and (max-width: 800px) {
    
    .company .right {
      display: none;
    }
    
    .gabriel {
      padding-top: 0;
      
      img {
        margin-bottom: 3em;
      }
    }
    
    .logos {
      li {
        float: none;
        width: 100%;
      }
    }
    
  }
}
