
body.solutions {
  
  section {
    margin-bottom: 30px;
  }

  section.center img {
    margin-top: 25px;
    height: 130px;
  }
  
  .testimonials {
    margin-bottom: 0;
    
    img {
      margin-top: 70px;
    }
  }
  
}
