
body.team {
  
  .header {
    margin-bottom: 4em;
  }
  
  .left {
    padding-right: 50px;
  }
  
  .right img {
    margin-top: -60px;
  }
  
  ul.team {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
    grid-gap: 20px;

    li {
      margin-bottom: 15px;
      
      h3 {
        font-size: 15px;
        text-align: center;
        margin-bottom: 3px;
      }
      
      .title {
        font-size: 12px;
        height: 44px;
        text-align: center;
      }
      
      img {
        filter: grayscale(1);
        max-width: 120px;
        border-radius: 50%;
      }
    }
  }

  
  @media all and (max-width: 800px) {
    
    .header {
      margin: 0;
    }
    
    .right img {
      display: none;
    }
    
    ul.team {
      grid-template-columns: repeat(2, 0.5fr);
      grid-gap: 10px;
      
    }
  }

}
