
// 1. Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 1em;
$font-leading: 1.5;

// 2. Colors
$brand: #1D74F5;
$brand-dark: #0E59C7;
$warning: #ff5050;
$space: #030C1A;
$space-b: #0B182B;
$space-grey: #121F33;

// 2.1 Grayscale
$grey-dark: #384A66;
$grey: #6B7D99;
$grey-light: #A3B4CC;
$grey-smoke-dark: #CFD8E6;
$grey-smoke: #E7EBF2;
$grey-bg: #F3F5F8;