---
layout: default
class: index
---

<div class="wrapper">
  <div class="header-wrapper">
    <header>
      <h2><a href="{{ site.url }}">{{ site.title }}</a></h2>
      <ul>
        <li><a {% if page.class == 'products' %}class="active"{%endif%} href="{{ site.url }}/product/solutions/">Solutions</a></li>
        <li><a {% if page.class == 'on-premise' %}class="active"{%endif%} href="{{ site.url }}/product/on-premise/">On-premise</a></li>
        <li><a {% if page.class == 'cloud' %}class="active"{%endif%} href="{{ site.url }}/product/cloud/">Cloud</a></li>
        <li><a {% if page.class == 'community' %}class="active"{%endif%} href="{{ site.url }}/product/community/">Community</a></li>
        <li><a {% if page.class == 'contact' %}class="active"{%endif%} href="{{ site.url }}/company/contact">Contact</a></li>
        <li><a {% if page.class == 'blog' %}class="active"{%endif%} href="{{ site.url }}/blog/">Blog</a></li>
        <li class="button"><a class="button highlight" href="{{ site.url }}/on-premise/#download/">Download</a></li>
      </ul>
      <div class="clear"></div>
    </header>
  </div>

  <div class="main">
    {{ content }}
  </div>
</div>

<footer>
  <div class="callout">
    <div class="left">
      <h4>Connect with Rocket.Chat</h4>
    </div>
    <div class="right">
      <a href="#">GitHub Stars</a>
      <a href="#">GitHub Forks</a>
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">LinkedIn</a>
    </div>
    <div class="clear">
    </div>
  </div>

  <div class="links">
    <ul>
      <li><a href="{{ site.url }}/product/solutions/">Solutions</a></li>
      <li><a href="{{ site.url }}/product/support">Support</a></li>
      <li><a href="{{ site.url }}/product/solutions/#cloud">Hosting</a></li>
      <li><a href="https://rocket.chat/docs/">Docs</a></li>
    </ul>
    <ul>
      <li><a href="{{ site.url }}/product/compare/">Comparisons</a></li>
      <li><a href="{{ site.url }}/company/customers/">Customers</a></li>
      <li><a href="{{ site.url }}/company/partners/">Partners</a></li>
      <li><a href="{{ site.url }}/blog/">Blog</a></li>
    </ul>
    <ul>
      <li><a href="{{ site.url }}/company/contact/">Contact</a></li>
      <li><a href="{{ site.url }}/company/press/">Press</a></li>
      <li><a href="{{ site.url }}/company/team/">Team</a></li>
      <li><a href="{{ site.url }}/company/jobs/">Jobs</a></li>
    </ul>
    <ul>
      <li><a href="https://www.stickermule.com/user/1070688638/stickers" target="_blank">Stickers</a></li>
      <li><a href="https://shop.spreadshirt.com/rocketchat" target="_blank">Store</a></li>
    </ul>
    <ul>
      <li><a href="{{ site.url }}/terms/">Terms of Service</a></li>
      <li><a href="{{ site.url }}/privacy/">Privacy</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</footer>
