
body.contact {
    
  #chat {
    padding-top: 0;
  }
  
  .large {
    width: 100%;
  }

  textarea.large {
    height: 150px;
  }
  
  #address {
    padding-top: 0;
    
    .address {
      padding-top: 3em;
    }
  }

}
