
body.partners {

  ul.partners {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 50px;
    
    h2 {
      margin-top: 0.5em;
    }

    div {
      height: 180px;
      background: white;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

}
