//
// Header
//
.blog__header {
  position: relative;
  padding: 1em 0 0.5em;

  @media screen and (min-width: $tablet) {
    padding: 2.5em 0 2em;
  }
}

.blog__list-cat {
  position: relative;
  max-width: 92vw;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0em;
    width: 3em;
    background-image: linear-gradient(-90deg, $space 0%, transparent 100%);
  }

  span {
    white-space: nowrap;
    overflow: auto;
    display: block;
    -webkit-overflow-scrolling: touch;
  }

  a {
    margin-right: 1.5em;
    transition: color 0.3s ease;

    &:hover {
      color: $grey-light;
    }
  }
}

.blog__search {
  position: absolute;
  right: 0;
  background: $space;
  top: 1em;
  display: none;

  @media screen and (min-width: $tablet) {
    top: 2.5em;
  }
}

.blog__search-wrap {
  text-align: right;
  position: relative;
}

.blog__search-input {
  background: url(../images/blog/search.svg) center no-repeat;
  width: 2em;
  height: 2em;
  font-size: 1em;
  transition: all 0.3s ease;
  color: transparent;

  &.focus {
    color: #fff;
    padding-left: 2em;
    background-position: left center;
    width: calc(100vw - 3em);
    @media screen and (min-width: $tablet) {
      width: 20em;
    }

    + .blog__search-results {
      display: block;
    }
  }
}

.blog__search-results {
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  z-index: 9;
  background: #fff;
  border-radius: 2px;
  text-align: left;
  padding: 0.7em;
  display: none;
  max-height: 50vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &:empty,
  &.is-hidden {
    display: none !important;
  }

  li {
    font-size: 0.8em;
    line-height: 1.3;
    text-transform: capitalize;
    color: $space;
    border-radius: 2px;
    padding: 0.2em 0.4em;
    margin-bottom: 0.5em;
    transition: all 0.3s ease;

    &:hover {
      background: $grey-smoke;
    }
  }
}

.blog__col-recents {
  justify-content: space-between;
  .col {
    max-width: 40em;
  }
}

// Featured
.blog__featured {
  @media screen and (min-width: $tablet) {
    display: grid;
    grid-gap: 1em 2em;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);

    a:first-child {
      grid-row: 1/3;
    }
  }
}

.blog__section {
  margin-top: 4em;
  border-bottom: 1px solid $space-grey;
  padding-bottom: 1em;
  margin-bottom: 2em;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  line-height: 1;
  @media screen and (min-width: $tablet) {
    margin-top: 0;
  }
}

// Event
.blog__event {
  padding: 0 0 0.5em 0 !important;
  border-radius: 2px;
  margin: 4em 0 0;
  flex: 1;
  @media screen and (min-width: $tablet) {
    margin: 0 1em 0 0;
  }
}

.blog__event-item {
  border-radius: 2px;
  margin: 0.5em;
  padding: 1.5em;
  transition: all 0.3s ease;

  &:hover {
    background: #1a69df;
  }
}

.blog__event-location,
.blog__event-dayweek {
  color: rgba(255, 255, 255, 0.7);
}
