body.download {
  background-image: url('../images/download/hero.jpg');
  background-position: center 8em;
  background-repeat: no-repeat;
  background-size: auto 32em;

  @media screen and (min-width: $tablet) {
    background-image: url('../images/download/hero@2x.jpg');
    background-position: center top;
    background-size: 100% auto;
  }
}

.download-apps {
  margin-bottom: 5em;

  @media (min-width: $tablet) {
    margin-bottom: 10em;
  }

  img {
    margin-top: 0.2em;
  }
}

.select-download {
  border: 1px solid $grey-dark;
  background: $space-b;

  @media (min-width: $tablet) {
    font-size: 0.8em;
  }

  &:after {
    border-top: 1.5px solid #fff;
    border-right: 1.5px solid #fff;
  }

  select {
    color: #fff;
  }
}

.download-mobile {
  margin-bottom: 5em;
  background-repeat: no-repeat;
  background-image: url("/images/download/mobile-haft.png");
  background-position: center bottom;
  background-size: auto 20em;
  padding-bottom: 20em;

  @media (min-width: $tablet) {
    @include flexbox();
    padding-bottom: 1.5em;
    background-image: url("/images/download/mobile.png");
    background-size: auto 90%;
    background-position: right -40% bottom;
    margin-bottom: 10em;

    .wrap {
      padding: 2em;
      max-width: 30%;
    }
  }

  @media (min-width: 62em) {
    background-position: right bottom;

    .wrap {
      padding: 3em 4em;
      max-width: 50%;
    }
  }

  img {
    width: 9em;
    margin-right: 1em;
  }
}

.download-server {
  margin-bottom: 5em;

  @media (min-width: $tablet) {
    margin-bottom: 10em;
  }
}
