//
//  Hero section
//
.home-hero {
  @media screen and (min-width: $tablet) {
    display: flex;
    min-height: 70vh;
  }

  @media screen and (min-width: 75em) {
    min-height: 90vh;
  }

  .download {
    text-align: center;
    margin: 2em 0;

    @media (min-width: $tablet) {
      margin: 0;
      text-align: left;
    }
  }
}

.home-hero_wrap {
  margin: 3em 0;

  @media screen and (min-width: $tablet) {
    margin: 6em 0;
    flex: 0.4;
  }
}

.home-hero_image {
  position: relative;
  right: -$gutter;
  margin-bottom: 2em;

  @media screen and (min-width: $tablet) {
    position: absolute;
    right: 0;
    top: 8em;
    height: calc(70vh - 6em);
  }

  @media screen and (min-width: 75em) {
    height: calc(90vh - 6em);
  }
}

//
//  Generic box
//
.home_box {
  border-radius: 2px;
  position: relative;

  @media screen and (min-width: $tablet) {
    display: flex;
    background-position: left top;
  }
}

.home_box-wrap {
  padding: 2em $gutter;
  flex: 0.38;
  font-size: 14px;
  position: relative;
  z-index: 2;

  @media screen and (min-width: $tablet) {
    padding: 4em 6.5em 4em 7em;
  }
}

//
//  Community section
//
.home-community {
  background-color: $space-b;
  justify-content: flex-end;

  @media screen and (min-width: $tablet) {
    background-size: 60% auto;
    background-image: url("../images/index/join-community.jpg");
    background-repeat: repeat-y;
    animation: positionX 30s linear infinite;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 50%;
      bottom: 0;
      background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        $space-b 100%
      );
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 3%,
        $space 100%
      );
    }
  }
}

@keyframes positionX {
  0% {
    background-position: left -150%;
  }
  100% {
    background-position: left -100%;
  }
}

.home-community_github {
  display: inline-flex;
  border-radius: 2px;
  overflow: hidden;
  width: 45%;
  margin-right: 1em;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  line-height: 3.2;
  transition: all 0.3s ease;
  background: #2f3f5a;
  color: #fff;

  &:hover {
    background: $grey-dark;
  }

  span:first-child {
    background: $grey-dark;
    font-weight: normal;
  }

  span {
    flex: 1;
  }

  img {
    display: inline-block;
    position: relative;
    top: 0.2em;
    margin-right: 0.5em;
    transition: all 0.3s ease;
  }

  &:hover {
    img {
      opacity: 0.7;
    }
  }
}

.home-community_github-link {
  display: inline-flex;
  width: 100%;
  margin-top: 1.5em;
  transition: all 0.3s ease;
  color: #fff;

  img {
    display: inline-block;
    position: relative;
    top: 0.1em;
    margin-right: 0.5em;
    transition: all 0.3s ease;
  }

  &:hover {
    color: $grey-light;

    img {
      opacity: 0.7;
    }
  }
}

//
//  Home enterprise
//
.home-enterprise {
  margin-bottom: -15em;
  position: relative;

  + section {
    padding-top: 16em;
    @media screen and (min-width: $tablet) {
      padding-top: 23em;
    }
  }

  .list {
    margin-bottom: -1em;

    @media screen and (min-width: $tablet) {
      margin-bottom: -2.5em;
    }

    .list-img {
      text-align: center;
      min-width: 3.5em;
      padding-right: 0.5em;

      img {
        display: inline-block;
      }
    }

    p {
      margin-bottom: 0;
      line-height: 1.4;
    }

    p:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

//
//  Home customization
//
.home-customization {
  position: relative;
  text-align: center;
  overflow: hidden;

  img {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-bottom: -3.3em;
    max-width: 290%;

    @media screen and (min-width: $tablet) {
      max-width: 100%;
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7%;
    height: 14%;
    background-image: radial-gradient(
      closest-side,
      rgba(0, 0, 0, 0.2) 0%,
      transparent 100%
    );
  }
}

.home-customization__scroll-view {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  @media screen and (min-width: $tablet) {
    overflow: visible;
  }
}

//
//  Home download
//
.home-download {
  background-repeat: no-repeat;
  background-image: url("/images/download/mobile-haft.png");
  background-position: center bottom;
  background-size: auto 20em;
  padding-bottom: 20em;

  @media (min-width: $tablet) {
    display: flex;
    padding-bottom: 0;
    background-image: url("/images/download/mobile.png");
    background-size: auto 90%;
    background-position: right -40% bottom;

    .wrap {
      padding: 2em;
      flex: 0.3;
    }
  }

  @media (min-width: 62em) {
    background-position: right bottom;

    .wrap {
      padding: 3em 4em;
      flex: 0.4;
    }
  }
}

.home-download__icons {
  @media (min-width: $tablet) {
    max-width: 75%;
  }

  img {
    margin-right: 1em;
    width: 1.8em;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
}

.home-download__button {
  text-align: center;
  margin: 2em 0;

  @media (min-width: $tablet) {
    margin: 0;
    text-align: left;
  }
}

//
//  Home clients
//
.home-clients {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: $tablet) {
    flex-wrap: nowrap;
  }

  span {
    max-width: 10em;
    padding: 1em 1.2em;

    @media (min-width: $tablet) {
      padding: 1em 2.2em;
      max-width: none;
    }
  }
}
