
body.download {
    
  .hero {
    background-color: $color-dark;
    text-align: center;
    color: #fff;
    padding-bottom: 0;
    
    .wrapper {
      padding-bottom: 20em;
      background-image: url('../images/download/devices.png');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      margin-bottom: -12px;
    }

    em {
      margin-bottom: 2em;
      display: block;
      font-style: normal;
    }
  }
  
}
