---
layout: en/default
class: blog
theme: dark
redirect_from:
  - /blog
  - /2015/05/30/an-open-source-chat-you-can-add-to-the-web/
  - /blog/an-open-source-chat-you-can-add-to-the-web
  - /rocket.chat/2015/05/28/product-hunt/
  - /blog/product-hunt
  - /2015/05/30/rocketchat-for-programmers-who-want-to-offer-livechat-on-their-own-website/
  - /2015/06/01/free-web-service-to-create-channels-send-dms/
  - /2015/06/03/a-fistful-of-slack-clones-chat-apps-with-meteor/
  - /2015/06/10/rocketchat-host-your-own-open-source-chat-server/
  - /2016/06/14/rocketchat-enabling-privately-hosted-chat-services/
  - /2017/10/06/success-story-rotogrinders/
---

{% assign FeaturedList = "" | split: "" %}
{% assign EventList = "" | split: "" %}

{% for post in site.posts %}
  {% if post.featured == true %}
    {% assign FeaturedList = FeaturedList | push: post %}
  {% endif %}
  {% if post.categories contains "Events" and post.type and post.location %}
    {% assign EventList = EventList | push: post %}
  {% endif %}
{% endfor %}

<div class="container">
  <div class="blog__header flex-grid">  
    <p class="blog__list-cat col no-gutter">
      <span>
        <a class="label theme_type--dark" href="/blog">Home</a>
        {% assign categories_list = site.categories %}
          {% if categories_list.first[0] == null %}
            {% for category in categories_list %}
              <a class="label theme_type--dark" href="/category/{{ category | slugify }}">{{ category }}</a>
            {% endfor %}
          {% else %}
            {% for category in categories_list %}
              <a class="label theme_type--dark" href="/category/{{ category[0] | slugify }}">{{ category[0] }}</a>
            {% endfor %}
          {% endif %}
        {% assign categories_list = nil %}
      </span>
    </p>

    <div class="col--fourth no-gutter blog__search">
      <div class="blog__search-wrap">
        <input type="search" class="blog__search-input">
        <ul class="blog__search-results"></ul>
      </div>
    </div>
  </div>

  <div class="blog__featured">
    {% for post in FeaturedList limit:5 %}
      <a 
        class="card--blog card--blog__image"
        href="{{ post.url | remove: "index.html" }}"
        {% if post.cover %}
          style="background-image: url('{{ post.cover }}')"
        {% else %}
          style="background-image: url('/images/blog/post.jpg')"
        {% endif %}
      >
        <div class="card--blog__wrap">
          <p class="card--blog__meta label--small theme_type--grey">
            {% assign words = post.content | number_of_words %}
            {% if words < site.wpm %} 1 min {% else %} {{ words | divided_by: site.wpm }} mins {% endif %} read
            — {{ post.date | date: "%b %-d, %Y" }}
          </p>
          <h3 class="card--blog__title theme_type--dark">{{ post.title }}</h3>
          <div class="card--blog__data">
            <p class="card--blog__category theme_box--dark-medium theme_type--dark tag">{{ post.categories[0] }}</p>
            <p class="card--blog__author text--small theme_type--grey">by {{ post.author }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  <div class="flex-grid">
    <div class="col">
      <h3 class="display theme_type--dark">Events</h3>
      <p class="theme_type--grey">Workshops, Demos &amp; Conferences</p>
      <a href="/category/events/" class="button--link button--with-arrow">View all</a>
    </div>

    {% for post in EventList limit:3 %}
      {{ post.title }}
    {% endfor %}
  </div>

  <div class="flex-grid blog__col-recents">
    <div class="col">
      <h3 class="display--small theme_type--dark blog__section">Recents</h3>
      <div class="blog__recents">
        {% for post in paginator.posts limit:6 %}
        <a 
          class="card--blog card--blog__image card--horizontal"
          href="{{ post.url | remove: "index.html" }}"
          {% if post.cover %}
            style="background-image: url('{{ post.cover }}')"
          {% else %}
            style="background-image: url('/images/blog/post.jpg')"
          {% endif %}
        >
          <div class="card--blog__wrap">
            <p class="card--blog__meta label--small theme_type--grey">
              {% assign words = post.content | number_of_words %}
              {% if words < site.wpm %} 1 min {% else %} {{ words | divided_by: site.wpm }} mins {% endif %} read
              — {{ post.date | date: "%b %-d, %Y" }}
            </p>
            <h3 class="card--blog__title theme_type--dark">{{ post.title }}</h3>
            <div class="card--blog__data">
              <p class="card--blog__category theme_box--dark-medium theme_type--dark tag">{{ post.categories[0] }}</p>
              <p class="card--blog__author text--small theme_type--grey">by {{ post.author }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>

    <div class="col--third">
      <h3 class="display--small theme_type--dark blog__section">More Featured</h3>
      {% for post in FeaturedList %}
        {% if forloop.index > 5 %}
        <div class="flex-grid--nobreak">
          <a 
            href="{{ post.url | remove: "index.html" }}"
            class="no-gutter col--third"
          >
            <div
              class="card--blog__image"
              {% if post.cover %}
                style="background-image: url('{{ post.cover }}')"
              {% else %}
                style="background-image: url('/images/blog/post.jpg')"
              {% endif %}
            ></div>
          </a>
          <a class="no-gutter col" href="{{ post.url | remove: "index.html" }}">
            <p class="card--blog__meta label--small theme_type--grey">
              {% assign words = post.content | number_of_words %}
              {% if words < site.wpm %} 1 min {% else %} {{ words | divided_by: site.wpm }} mins {% endif %} read
              — {{ post.date | date: "%b %-d, %Y" }}
            </p>
            <h3 class="card--blog__title theme_type--dark">{{ post.title }}</h3>
            <div class="card--blog__data">
              <p class="card--blog__category theme_box--dark-medium theme_type--dark tag">{{ post.categories[0] }}</p>
              <p class="card--blog__author text--small theme_type--grey">by {{ post.author }}</p>
            </div>
          </a>
        </div>
        <div class="card--blog__separator"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


