---
layout: en/default
class: blog
redirect_from:
  - /blog
  - /2015/05/30/an-open-source-chat-you-can-add-to-the-web/
  - /blog/an-open-source-chat-you-can-add-to-the-web
  - /rocket.chat/2015/05/28/product-hunt/
  - /blog/product-hunt
  - /2015/05/30/rocketchat-for-programmers-who-want-to-offer-livechat-on-their-own-website/
  - /2015/06/01/free-web-service-to-create-channels-send-dms/
  - /2015/06/03/a-fistful-of-slack-clones-chat-apps-with-meteor/
  - /2015/06/10/rocketchat-host-your-own-open-source-chat-server/
  - /2016/06/14/rocketchat-enabling-privately-hosted-chat-services/
  - /2017/10/06/success-story-rotogrinders/
---

<section class="hero">
  <div class="wrapper">
    <h1>Rocket.Chat Blog</h1>
    <em>Find out what the Rocket.Chat team and community have been up to</em>
    {% include mailchimp.html %}
  </div>
</section>

<section class="posts">
  <div class="wrapper">

    <ul>
      {% for post in paginator.posts %}
      <li class="post">
        <a class="header" href="{{ post.url | remove: "index.html" }}"
          {% if post.cover %}
          style="background-image: url('{{ post.cover }}')">
          {% else %}
          style="background-image: url('/images/blog/post.jpg')">
          {% endif %}
        </a>
        <div class="content">
          <div class="top">
            <h2><a href="{{ post.url | remove: "index.html" }}">{{ post.title }}</a></h2>
            <p class="summary">
              {{ post.excerpt | strip_html | truncatewords: 30 }}
            </p>
          </div>
          <div class="bottom">
            <div class="meta">
              <span class="author">{{ post.author }}</span> -
              <span class="read">
                {% assign words = post.content | number_of_words %}
                {% if words < site.wpm %} 1 min {% else %} {{ words | divided_by: site.wpm }} mins {% endif %} read
              </span>
              <span class="date"> {{ post.date | date: "%b %-d, %Y" }}</span>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <strong>{{ page }}</strong>
        {% elsif page == 1 %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next">Next</span>
      {% endif %}
    </div>
  </div>
  <div class="clear"></div>
</section>
