
body.blog {

  .posts {
    background-color: #f9f9f9;
    padding: 6em 0;

    ul {
      margin: 0;
      list-style: none;
      padding: 0 50px;
      display: grid;
      grid-template-columns: repeat(2, 0.5fr);
      grid-gap: 28px;

      li {
        border: 1px solid #ccc !important;
        border-radius: 4px;
        height: 500px;
        background-color: #fff;
        box-shadow: 0 3px 3px rgba(0,0,0,0.1);

        .header {
          display: block;
          height: 260px;
          width: 100%;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .content {
          padding: 15px;

          h2 {
            margin-bottom: 5px;
          }

          .meta {
            font-size: small;
            height: 1.8em;
          }

          .date {
            float: right;
          }

          .top {
            height: 180px;
          }
        }
      }
    }
  }

  .pagination {
    margin-top: 2em;
    text-align: center;

    .next, .previous {
      width: 100px;
    }

    .previous {
      float: left;
      text-align: left;
    }

    .next {
      float: right;
      text-align: right;
    }
  }

  @media all and (max-width: 900px) {
    .posts ul {
      display: block;
      padding: 0;

      li {
        height: auto;
        margin-bottom: 30px;

        .header {
          height: 240px;
        }

        .content .top {
          height: auto;
        }
      }
    }
  }

}
