
body.blog {

  .posts ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 30px;
    
    li {
      border: 1px solid #eee !important;
      border-radius: 2px;
      height: 460px;
      
      .header {
        display: block;
        height: 240px;
        width: 100%;
        background-position: 50% 50%;
        filter: opacity(0.5);
      }
      
      .content {
        padding: 15px;
        
        h2 {
          margin-bottom: 5px;
        }
        
        .meta {
          font-size: small;
          height: 1.8em;
        }
        
        .date {
          float: right;
        }
                
        .top {
          height: 160px;
        }
      }
    }
  }
  
  .pagination {
    margin-top: 2em;
    text-align: center;
    
    .next, .previous {
      width: 100px;
    }
    
    .previous {
      float: left;
      text-align: left;
    }
    
    .next {
      float: right;
      text-align: right;
    }
  }
  
  @media all and (max-width: 900px) {
    .posts ul {
      display: block;
      
      li {
        height: 300px;
        
        .header {
          height: 120px;
        }
        
        .content .top {
          height: 130px;
        }
      }
    }
  }
  
}
