
.social {
  margin-top: 1em;
   
  a {
    position: relative;
    top: 11px;
    
    &.button {
      top: 0;
    }

    img {
      max-width: 35px;
      display: inline-block;
      margin-right: 8px;
    }
  }
}
