
body.post {

  .post .wrapper {
    margin: 0 auto;
    max-width: $post-width;
    min-height: 500px;
    margin-bottom: 3em;
  }

  h1 {
    padding: 0.5em 0 0.75em;
    font-size: 3em;
    clear: both;
  }

  h2, h3, h4 {
    padding-top: 0.75em;
    clear: both;
  }

  .meta {
    font-size: small;

    .date {
      float: right;
    }
  }

  .content {
    clear: both;
    font-family: $post-font-family;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.58;
    letter-spacing: -.003em;
    margin-bottom: 3em;

    img {
      max-width: 100%;
    }

    a img {
      display: inline;
    }

    iframe {
      margin: 0 auto;
      display: block;
    }
  }

  .social {
    width: 320px;
    margin: 10px 0 0;
  }

  twitterwidget {
    margin: 2em auto !important;
  }
}
