
body.post {

  .post {
    margin: 0 auto;
    width: 800px;
    min-height: 500px;
    margin-bottom: 3em;
  }
  
  .header {
    margin-bottom: 1em;
  }
  
  .meta {
    font-size: small;
    height: 1.8em;
    
    .date {
      float: right;
    }
  }
    
  .content {
    clear: both;
    font-family: $content-font-family;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.58;
    letter-spacing: -.003em;;
  }

}
