---
layout: fr/default
class: cloud
title: "Cloud - La façon la plus simple d'installer &amp; d'héberger Rocket.Chat"
description: |
  Rocket.Chat Cloud est la façon la plus simple d'installer &amp; de gérer Rocket.Chat.
  Aucun savoir-faire technique ni de carte bleue sont nécessaires, ce sera fait en 2 minutes.

permalink: /fr/cloud

redirect_from:
  - /fr/cloud/
---

<section class="hero">
  <div class="wrapper">
    <h1>Faites fonctionner Rocket.Chat sur notre Cloud</h1>
    <em>Hébergez, gérez et adaptez Rocket.Chat sans souci et à petits prix</em>
  </div>
</section>

<section class="message">
  <div class="wrapper">
    <div class="left">
      <h3>Facile</h3>
      <p>
        Rocket.Chat Cloud est la façon la plus simple d'installer et de gérer Rocket.Chat.
        Ceci n'exige aucun savoir-faire technique et vous pouvez lancer une version d'essai en 2 minutes, sans carte bleue.
      </p>
      <h3>Abordable</h3>
      <p>
        On croit en la demande d'un prix raisonnable pour les ressources dont vous avez besoin plutôt que de vous facturer selon le nombre de membres de votre équipe ou d'invités.
        Ceci vous offre ainsi une solution de communication en équipe abordable et évolutif pour des dizaines de milliers d'utilisateurs.
      </p>
    </div>
    <div class="right">
      <h3>Évolutif</h3>
      <p>
        Le Cloud de Rocket.Chat est robuste et extensible, développé sur Docker and Kubernetes,
        et vous offre les avantages d'une plateforme en logiciel libre
        sans le besoin de gérer et de faire évoluer votre propre infrastructure et équipe d'assistance technique.
      </p>
      <h3>Securisé</h3>
      <p>
        Tout instant cloud fonctionne dans son propre environnement isolé et sécurisé que nous surveillons 24h/7.
        Une sauvegarde de vos données est faite toutes les heures pour que vous ayez l'esprit tranquille en cas d'urgence.
      </p>
    </div>
    <div class="clear"></div>
  </div>
</section>

{% assign cloud = site.data.fr.cloud %}

<section class="plans" id="pricing">
  <div class="wrapper">
    <table>
      <thead>
        <tr>
          <th></th>
          <th><h2>{{ cloud.small.name }}</h2></th>
          <th><h2>{{ cloud.medium.name }}</h2></th>
          <th><h2>{{ cloud.large.name }}</h2></th>
        </tr>
      </thead>
      <tbody>

        {% for key in cloud.keys %}

        {% assign k = key[0] %}

        <tr>
        {% unless cloud.large[k] %}
          <td class="seperator" colspan="4">
            {{ key[1] }}
          </td>
        {% else %}
          <td>{{ key[1] }}</td>
          <td>{{ cloud.small[k] }}</td>
          <td>{{ cloud.medium[k] }}</td>
          <td>{{ cloud.large[k] }}</td>
        {% endunless %}
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</section>

<section class="testimonials">
  <div class="wrapper">
    <div class="left">
      <img src="/images/testimonials/procempa.jpg" alt="">
    </div>
    <div class="right">
      <h3>Procempa</h3>
      <h4>César Bridi - <span>Chargé de technologie</span></h4>
      <p>
        Nous cherchions un outil qui pouvait faciliter la communication d'équipe ainsi qu'interdépartementale.
        Ce fut une agréable surprise de decouvrir Rocket.Chat et tout ce que ça offre,
        surtout la facilité de son intégration avec d'autres produits et outils.
      </p>
    </div>
    <div class="clear"></div>
  </div>
</section>

<section class="faq">
    <div class="wrapper">
      <h2>Questions Fréquentes</h2>
      <ol>
        <div class="left">
          <li>
            <h3>Combien de temps dure la version d'essai?</h3>
            <p>
              Tout plan a une période d'essai gratuite qui dure 30 jours.
            </p>
          </li>

          <li>
            <h3>Quelle est la fréquence de facturation?</h3>
            <p>
              Tout plan sera facturé mensuellement.
            </p>
          </li>

          <li>
            <h3>Quand débutera la période de facturation?</h3>
            <p>
              Si vos coordonnées de facturation sont correctes et votre compte n'a pas été clôturé,
              votre période de facturation débutera le lendemain de la fin de votre période d'essai.
            </p>
          </li>

          <li>
            <h3>Quand puis-je annuler mon plan?</h3>
            <p>
              Vous pouvez annuler votre plan à n'importe quel moment et continuer d'accéder à votre
              espace de travail numérique pendant le reste de votre mois de facturation.
            </p>
          </li>
        </div>
        <div class="right">
          <li>
            <h3>Comment puis-je signaler un problème et obtenir de l'aide?</h3>
            <p>
              Envoyez un mail à l'adresse suivante: <a href="mailto:cloud.support@rocket.chat">cloud.support@rocket.chat</a>
            </p>
          </li>

          <li>
            <h3>What reporting do you provide?</h3>
            <p>
              You can view a workspace's total registed users, active users,
              channels and file storage used.
            </p>
          </li>

          <li>
            <h3>What is the monthly uptime guarantee?</h3>
            <p>
              We guarantee 99.9% monthly uptime and offer Medium and Large plan customers
              who contact us account credit to the value of:
              <em>100 x verified down time / plan monthly cost</em>.
            </p>
          </li>

          <li>
            <h3>Are there discounts for NGOs and educational institutes?</h3>
            <p>
              Yes eligible <a href="/concession">non-profit or educational institute</a>
              may receive discounted rates for Rocket.Chat Cloud.
            </p>
          </li>

        </div>
        <div class="clear"></div>
      </ol>
    </div>
  </section>

{% include adwords/trial.html %}
