---
layout: en/default
class: cloud
title: "Cloud - The easiest way to install &amp; host Rocket.Chat"
description: |
  Rocket.Chat Cloud is the easiest way to install &amp; manage Rocket.Chat.
  No technical knowledge or credit card required, done in 2 minutes.

permalink: /cloud

redirect_from:
  - /hosting/
  - /cloud/
---

<section class="hero">
  <div class="wrapper">
    <h1>Run Rocket.Chat on our Cloud</h1>
    <em>The worry free way to affordably host, manage and scale Rocket.Chat</em>
  </div>
</section>

<section class="message">
  <div class="wrapper">
    <div class="left">
      <h3>Easy</h3>
      <p>
        Rocket.Chat Cloud is the easiest way to install, setup and manage Rocket.Chat.
        It requires no technical knowledge and you can start a trial in a couple of minutes, no credit card required.
      </p>
      <h3>Affordable</h3>
      <p>
        We believe in charging a fair rate for the resources you need rather than for every team member or guest,
        giving you an affordable and scalable team chat solution for tens of thousands of users.
      </p>
    </div>
    <div class="right">
      <h3>Scalable</h3>
      <p>
        Rocket.Chat's robust and scalable Cloud, built on Docker and Kubernetes,
        gives you the benefits of an open source communication platform
        without having to manage and scale your own infrastructure and support team.
      </p>
      <h3>Secure</h3>
      <p>
        Every cloud instance runs in it's own secure isolated environment which we monitor 24x7.
        Your data is backed-up up to every hour, to give you peace of mind in the case of an emergency.
      </p>
    </div>
    <div class="clear"></div>
  </div>
</section>

{% assign cloud = site.data.en.cloud %}

<section class="plans" id="pricing">
  <div class="wrapper">
    <table>
      <thead>
        <tr>
          <th></th>
          <th><h2>{{ cloud.small.name }}</h2></th>
          <th><h2>{{ cloud.medium.name }}</h2></th>
          <th><h2>{{ cloud.large.name }}</h2></th>
        </tr>
      </thead>
      <tbody>

        {% for key in cloud.keys %}

        {% assign k = key[0] %}

        <tr>
        {% unless cloud.large[k] %}
          <td class="seperator" colspan="4">
            {{ key[1] }}
          </td>
        {% else %}
          <td>{{ key[1] }}</td>
          <td>{{ cloud.small[k] }}</td>
          <td>{{ cloud.medium[k] }}</td>
          <td>{{ cloud.large[k] }}</td>
        {% endunless %}
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</section>

<section class="testimonials">
  <div class="wrapper">
    <div class="left">
      <img src="/images/testimonials/procempa.jpg" alt="">
    </div>
    <div class="right">
      <h3>Procempa</h3>
      <h4>César Bridi - <span>Technology Manager</span></h4>
      <p>
        We were looking for a tool that facilitates team and cross department
        communication. It was a pleasant surprise when we discovered Rocket.Chat
        and everything it offers, especially the ease of integration with other
        products and tools.
      </p>
    </div>
    <div class="clear"></div>
  </div>
</section>

<section class="faq">
    <div class="wrapper">
      <h2>Rocket.Chat Cloud FAQ</h2>
      <ol>
        <div class="left">
          <li>
            <h3>How long do trials last?</h3>
            <p>
              Every plan has a 30-day free trial.
            </p>
          </li>

          <li>
            <h3>What is the billing period?</h3>
            <p>
              All plans are billed monthly.
            </p>
          </li>

          <li>
            <h3>When will my billing period begin?</h3>
            <p>
              If you account has correct billing information and has not been closed,
              your first billing period will begin the day after your trial ends.
            </p>
          </li>

          <li>
            <h3>When can I cancel my plan?</h3>
            <p>
              You can cancel your plan at any time and continue to access
              your workspace for the remainder of your billing month.
            </p>
          </li>
        </div>
        <div class="right">
          <li>
            <h3>How do I report issues and get support?</h3>
            <p>
              Email <a href="mailto:cloud.support@rocket.chat">cloud.support@rocket.chat</a>
            </p>
          </li>

          <li>
            <h3>What reporting do you provide?</h3>
            <p>
              You can view a workspace's total registed users, active users,
              channels and file storage used.
            </p>
          </li>

          <li>
            <h3>What is the monthly uptime guarantee?</h3>
            <p>
              We guarantee 99.9% monthly uptime and offer Medium and Large plan customers
              who contact us account credit to the value of:
              <em>100 x verified down time / plan monthly cost</em>.
            </p>
          </li>

          <li>
            <h3>Are there discounts for NGOs and educational institutes?</h3>
            <p>
              Yes eligible <a href="/concession">non-profit or educational institute</a>
              may receive discounted rates for Rocket.Chat Cloud.
            </p>
          </li>

        </div>
        <div class="clear"></div>
      </ol>
    </div>
  </section>

{% include adwords/trial.html %}
