---
layout: fr/default
class: partners
title: Partners
permalink: /fr/partners
redirect_from: /partners/
---

<section class="hero">
  <div class="wrapper">
    <h1>Partenaires Rocket.Chat</h1>
    <em>Rejoignez aujourd'hui notre communauté mondiale croissante de partenaires ressortissants des sphères de la technologie, de l'hébergement et de la revente</em>
  </div>
</section>

<section class="category">
  <div class="wrapper">
    <h1>Revendeurs Internationaux</h1>
  </div>
</section>

<section>
  <div class="wrapper">
    <ul class="partners">

      {% for partner in site.data.resellers %}
      <li>
        <div style="background-image: url('{{ partner.logo }}')"></div>
        <h2>{{ partner.name }}</h2>
        <p>{{ partner.description }}</p>
        <a href="{{ partner.website }}">Site</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="category">
  <div class="wrapper">
    <h1>Partenaires Technologiques</h1>
  </div>
</section>

<section>
  <div class="wrapper">
    <ul class="partners">

      {% for partner in site.data.techpartners %}
      <li>
        <div style="background-image: url('{{ partner.logo }}')"></div>
        <h2>{{ partner.name }}</h2>
        <p>{{ partner.description }}</p>
        <a href="{{ partner.website }}">Site</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="category">
  <div class="wrapper">
    <h1>Partenaires en Hébergement</h1>
  </div>
</section>

<section>
  <div class="wrapper">
    <ul class="partners">

      {% for partner in site.data.partners %}
      <li>
        <div style="background-image: url('{{ partner.logo }}')"></div>
        <h2>{{ partner.name }}</h2>
        <p>{{ partner.description }}</p>
        <a href="{{ partner.website }}">Site</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
