---
layout: fr/default
class: press
title: Press
permalink: /fr/press
redirect_from: /fr/press/
---

<section class="hero">
  <div class="wrapper">
    <h1>Rocket.Chat dans la presse</h1>
    <em>Ce que les gens disent sur Rocket.Chat</em>
  </div>
</section>

<section class="company">
  <div class="wrapper">
    <div class="left">
      <h2>L'entreprise</h2>
      <p>
        Rocket.Chat est une entreprise construite sur les valeurs de l'open source et avec un amour pour l'efficacité.
        L'entreprise est motivée par sa communité incroyable de contributeurs et avec l'appui de son équipe douée
        qui travaille sans relâche pour maintenir un code de haute qualité afin de rendre la vie de ses contributeurs plus facile,
        menée par son fondateur Gabriel Engel.
      </p>
      <p>
        Rocket.Chat a remporté le prix du meilleur projet aux <a href="https://www2.blackducksoftware.com/news/releases/black-duck-announces-open-source-rookies-of-the-year"
        target="_blank">
        Black Duck Open Source Rookies of the Year
       </a>
        en 2016.
        Nous sommes basés au Brésil, mais la grande majorité de notre équipe travaille à distance.
        Nos concurrents principaux sont des entreprises telles que Slack et HipChat.
      </p>
    </div>
    <div class="right">
      <img src="/images/press/logos/512x512.png" alt="Rocket.Chat Logo">
    </div>
    <div class="clear"></div>
  </div>
</section>

<section class="gabriel">
  <div class="wrapper">
    <div class="left">
      <img src="/images/team/member/gabriel-engel-01.jpg" alt="Gabriel Engel">
    </div>
    <div class="right">
      <h2>Gabriel Engel</h2>
      <p>
        Gabriel est le fondateur de Rocket.Chat. Il est passioné par les outils de collaboration, l'open source et
        la nouvelle technologie. Gabriel est aussi le cofondateur de Konecty, et a travaillé chez Vodafone International en tant que
        Chef de Produit pour l'Innovation en Entreprise.
      </p>
      <p>
        Gabriel demeure à la disposition de la presse afin de partager son expérience et ses succès avec Rocket.Chat. Gabriel a fondé
        Rocket.Chat en 2015.
      </p>
    </div>
    <div class="clear"></div>
  </div>
</section>

<section class="logos">
  <div class="wrapper">
    <h2>Logos</h2>
    <ul>
      {% for logo in site.data.logos %}
      <li>
        <div class="img-wrapper">
          <img src="/images/press/logos/{{ logo.file }}.{{ logo.main }}" alt="{{ logo.name }}">
        </div>
        <h3>{{ logo.name }}</h3>
        <div class="download">
          {% if logo.png %}
          <a target="_blank" href="/images/press/logos/{{ logo.file }}.png" target="_blank" title="{{ logo.name }} PNG">PNG</a>
          {% endif %}
          {% if logo.svg %}
          <a target="_blank" href="/images/press/logos/{{ logo.file }}.svg" target="_blank" title="{{ logo.name }} SVG">SVG</a>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    <div class="clear"></div>
    <p class="more">
      For plus de logos, consultez notre
      <a target="_blank" href="https://github.com/RocketChat/Rocket.Chat.Artwork" target="_blank">Référentiel de Maquettes</a>
    </p>
  </div>
</section>

<section class="contact">
  <div class="wrapper">
    <div class="left">
      <h2>Dans la Presse</h2>
      <ul>
        {% for article in site.data.press %}
        <li>
          <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
          <span>{{ article.publisher }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="right">
      <h2>Contactez-nous</h2>
      <p>
        Pour toute demande de presse (commentaires, entretiens, fichiers audio-visuels) ou pour discutez avec notre intermédiaire presse, veuillez nous contacter à l'adresse ci-dessous.
        <a href="mailto: press@rocket.chat">press@rocket.chat</a>
      </p>
    </div>
    <div class="clear"></div>
  </div>
</section>
