---
layout: fr/default
class: team
permalink: /fr/team
redirect_from:
  - /fr/team/
  - /rocket-team
  - /rocket-team/
---

<section class="hero">
  <div class="wrapper">
    <h1>L'équipe Rocket.Chat</h1>
    <em>L'équipe qui continue de lancer nos fusées</em>
  </div>
</section>

<section class="message">
  <div class="wrapper">
    <div class="left">
      <p>
        Un code de preuve-de-concept publié sur GitHub il y à presque trois ans
        est aujourd'hui devenu Rocket.Chat, une plateforme open source en constante évolution.
      </p>
      <p>
        Bien que nous ayons la communauté des développeurs dans son ensemble à remercier pour cela,
        les membres de notre équipe ont travaillé assidûment pour assurer la croissance de Rocket.Chat ainsi que son ambition de toujours viser plus haut.
      </p>
      <p>
        <a href="http://localhost:4000/handbook/">Manuel d'Équipe</a>  (travail en cours).
      </p>
    </div>
    <div class="right">
      <img src="/images/index/community.svg" alt="">
    </div>
    <div class="clear"></div>  </div>
</section>

<section>
  <div class="wrapper">
    <ul class="team">
      {% for member in site.data.fr.team %}
      <li>
        {% if member.github_username %}
          <a href="https://github.com/{{ member.github_username }}">
            {% if member.photo %}
              <img src="/images/team/member/{{ member.username | replace: '.', '-' }}-01.jpg" alt="">
            {% else %}
              <img src="https://avatars0.githubusercontent.com/u/{{ member.github_uid }}?v=4&s=140" alt="">
            {% endif %}
          </a>
        {% else %}
          {% if member.photo %}
            <img src="/images/team/member/{{ member.username | replace: '.', '-' }}-01.jpg" alt="">
          {% else %}
            <img src="https://github.com/identicons/RocketChat.png" alt="">
          {% endif %}
        {% endif %}
        <h3>{{ member.name }}</h3>
        <div class="title">{{ member.title }}</div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
