
body.cloud {
  
  .section {
    padding: 15px 12px;
    background: #f7f8fa;
    
    h3 {
      margin: 0;
      font-size: 16px;
    }
  }
  
  section {
    margin: 0 0 45px;
  }
  
  ol {
    padding-left: 18px;
    margin: 0;
  }
  
  .center {
    text-align: center;
    margin-bottom: 45px;
    
    p {
      font-size: 20px;
    }
  }
  
}
