
body.partners {

  ul {
    list-style: none;
    padding: 0;

    div {
      width: 360px;
      height: 180px;
      background: white;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

}
