.card {
  border-radius: 2px;
  padding: 1.5em;
  min-height: 100%;
}

.card_footer {
  padding: 1em 1.5em;
  margin-left: -1.5em;
  margin-right: -1.5em;
  margin-bottom: -1.5em;
  margin-top: 1em;
}
