.card {
  border-radius: 2px;
  padding: 1.5em;

  > *:last-child {
    margin-bottom: 0;
  }
}

.card--full-height {
  min-height: 100%;
}

.card_footer {
  padding: 1em 1.5em;
  margin-left: -1.5em;
  margin-right: -1.5em;
  margin-bottom: -1.5em !important;
  margin-top: 1em;
}

.card_icon {
  display: inline-block;
  width: 6em;
  margin-bottom: 1em;

  @media screen and (min-width: $tablet) {
    width: auto;
  }
}

.card_icon--mini {
  padding-left: $gutter;
  padding-right: $gutter;
  align-self: flex-start;
}
