.hero {
  text-align: center;
  padding: 2em;
  height: 50vh;
  min-height: 20em;

  @media screen and (min-width: $tablet) {
    padding-top: 5em;
    height: 70vh;
  }

  p {
    max-width: 27em;
    display: inline-block;
  }

  a {
    margin-left: .5em;
    margin-right: .5em;
  }
}
